# **Análisis Exploratorio De Datos**

In [2]:
import pandas as pd

# Importación De Datos

In [4]:
# DataSet Número 1
ruta = r"C:\Users\Luis Sazo\Desktop\Ventas Supermercados\Data\annex1.csv"
DataSet1 = pd.read_csv(ruta)
DataSet1

,Item Code,Item Name,Category Code,Category Name
0,102900005115168,Niushou Shengcai,1011010101,Flower/Leaf Vegetables
1,102900005115199,Sichuan Red Cedar,1011010101,Flower/Leaf Vegetables
2,102900005115625,Local Xiaomao Cabbage,1011010101,Flower/Leaf Vegetables
3,102900005115748,White Caitai,1011010101,Flower/Leaf Vegetables
4,102900005115762,Amaranth,1011010101,Flower/Leaf Vegetables
...,...,...,...,...
246,106958851400125,Haixian Mushroom (Bag) (4),1011010801,Edible Mushroom
247,106971533450003,Haixian Mushroom (Bunch),1011010801,Edible Mushroom
248,106971533455008,Haixian Mushroom (Bag) (3),1011010801,Edible Mushroom
249,106973223300667,Chinese Caterpillar Fungus Flowers (Box) (2),1011010801,Edible Mushroom
250,106973990980123,Hfyg Haixian Mushroom (Bunch),1011010801,Edible Mushroom

In [5]:
# DataSet Número 4
ruta2= r"C:\Users\Luis Sazo\Desktop\Ventas Supermercados\Data\annex4.csv"
DataSet4 = pd.read_csv(ruta2)
DataSet4

,Item Code,Item Name,Loss Rate (%)
0,102900005115168,Niushou Shengcai,4.39
1,102900005115199,Sichuan Red Cedar,10.46
2,102900005115250,Xixia Black Mushroom (1),10.80
3,102900005115625,Local Xiaomao Cabbage,0.18
4,102900005115748,White Caitai,8.78
...,...,...,...
246,106971533455008,Haixian Mushroom (Bag) (3),1.30
247,106971563780002,Xianzongye (Bag) (2),0.00
248,106972776821582,Xianzongye (Bag) (3),9.43
249,106973223300667,Chinese Caterpillar Fungus Flowers (Box) (2),11.13
250,106973990980123,Hfyg Haixian Mushroom (Bunch),0.12

Ambos DataSets se unirán mediante su Item Code, para que solo exista un DataSet de productos

In [14]:
Productos = pd.merge(
    DataSet1, 
    DataSet4[["Item Code","Loss Rate (%)"]], 
    on = "Item Code")
Productos

,Item Code,Item Name,Category Code,Category Name,Loss Rate (%)
0,102900005115168,Niushou Shengcai,1011010101,Flower/Leaf Vegetables,4.39
1,102900005115199,Sichuan Red Cedar,1011010101,Flower/Leaf Vegetables,10.46
2,102900005115625,Local Xiaomao Cabbage,1011010101,Flower/Leaf Vegetables,0.18
3,102900005115748,White Caitai,1011010101,Flower/Leaf Vegetables,8.78
4,102900005115762,Amaranth,1011010101,Flower/Leaf Vegetables,18.52
...,...,...,...,...,...
246,106958851400125,Haixian Mushroom (Bag) (4),1011010801,Edible Mushroom,11.13
247,106971533450003,Haixian Mushroom (Bunch),1011010801,Edible Mushroom,0.00
248,106971533455008,Haixian Mushroom (Bag) (3),1011010801,Edible Mushroom,1.30
249,106973223300667,Chinese Caterpillar Fungus Flowers (Box) (2),1011010801,Edible Mushroom,11.13
250,106973990980123,Hfyg Haixian Mushroom (Bunch),1011010801,Edible Mushroom,0.12

In [21]:
Productos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Item Code      251 non-null    int64
 1   Item Name      251 non-null    object
 2   Category Code  251 non-null    int64
 3   Category Name  251 non-null    object
 4   Loss Rate (%)  251 non-null    float64
dtypes: float64(1), int64(2), object(2)
memory usage: 9.9+ KB

In [ ]:
# Validar Nulos
Productos.isnull().sum()

# El DataFrame no presenta valores nulos

Item Code        0
Item Name        0
Category Code    0
Category Name    0
Loss Rate (%)    0
dtype: int64

In [18]:
# Promedio de tasa de perdida
promedioTasaPerdida = Productos["Loss Rate (%)"].mean()
print(f"La tasa de pérdida total es: % {round(promedioTasaPerdida, 2)}")

La tasa de pérdida total es: % 9.43

In [23]:
AgruparCategorias = Productos.groupby("Category Name").count()
AgruparCategorias["Item Code"]

Category Name
Aquatic Tuberous Vegetables     19
Cabbage                          5
Capsicum                        45
Edible Mushroom                 72
Flower/Leaf Vegetables         100
Solanum                         10
Name: Item Code, dtype: int64

In [24]:
# Exportar DataSet
Productos.to_csv("../Data_Limpia/Productos.csv", index=False)

In [25]:
# Importación de módulo y crear conexión
from sqlalchemy import create_engine

conexion = create_engine(
    "postgresql+psycopg2://postgres:Adelayda1972@localhost:5432/Ventas-Supermercado"
)

In [27]:
# Enviar DataSet a PostgreSQL
Productos.to_sql(
    "Productos",
    con=conexion,
    schema="DataSupermercado",
    if_exists="replace",
    index=False
)

251