# **Análisis Exploratiorio De Datos**

In [1]:
import pandas as pd

In [2]:
# DataSet Número 3
ruta = r"C:\Users\Luis Sazo\Desktop\Ventas Supermercados\Data\annex3.csv"
DataSet3 = pd.read_csv(ruta)
DataSet3

             Date        Item Code  Wholesale Price (RMB/kg)
0      2020-07-01  102900005115762                      3.88
1      2020-07-01  102900005115779                      6.72
2      2020-07-01  102900005115786                      3.19
3      2020-07-01  102900005115793                      9.24
4      2020-07-01  102900005115823                      7.03
...           ...              ...                       ...
55977  2023-06-30  102900051000944                     18.00
55978  2023-06-30  102900051004294                      6.45
55979  2023-06-30  102900051010455                      4.48
55980  2023-06-30  106949711300259                      1.45
55981  2023-06-30  106971533450003                      1.95

[55982 rows x 3 columns]

In [3]:
DataSet3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55982 entries, 0 to 55981
Data columns (total 3 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      55982 non-null  object
 1   Item Code                 55982 non-null  int64
 2   Wholesale Price (RMB/kg)  55982 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.3+ MB

In [ ]:
DataSet3.isnull().sum()

# El DataSet no presenta valores nulos

Date                        0
Item Code                   0
Wholesale Price (RMB/kg)    0
dtype: int64

Top 10 de productos con más porcentaje de tasa de pérdida por Item, para una mejor visualización
se construirá un tablero en Power BI

In [17]:
PromedioTasaPerdida = round(DataSet3.groupby("Item Code")["Wholesale Price (RMB/kg)"].mean(), 2)
PromedioTasaPerdida.sort_values(ascending=False).head(10)

Item Code
102900011030417    141.00
102900011010563     80.00
102900011030400     73.50
102900011011058     64.41
102900011012871     62.79
102900005128748     55.31
102900011015384     29.98
102900005115199     25.98
102900011021675     23.47
102900051000944     22.01
Name: Wholesale Price (RMB/kg), dtype: float64

Top 10 de productos con más porcentaje de tasa de pérdida por Fecha, para una mejor visualización
se construirá un tablero en Power BI

In [22]:
PromedioTasaPerdida2 = round(DataSet3.groupby("Date")["Wholesale Price (RMB/kg)"].mean(), 2)
PromedioTasaPerdida2.sort_values(ascending=False).head(10)

Date
2023-01-23    9.94
2021-02-13    9.20
2021-02-25    9.20
2021-02-24    9.11
2020-12-25    9.06
2021-01-22    8.95
2021-02-23    8.92
2021-01-30    8.75
2021-01-18    8.75
2020-12-21    8.73
Name: Wholesale Price (RMB/kg), dtype: float64

In [21]:
# Tasa de Pérdida general
TasaPerdidaGeneral = DataSet3["Wholesale Price (RMB/kg)"].mean()
print(f"La tasa de pérdida general es de: % {round(TasaPerdidaGeneral, 2)}")

La tasa de pérdida general es de: % 5.96

In [23]:
# Guardar DataSet con otro nombre
DataSet3.to_csv("../Data_Limpia/TasaDePerdida.csv", index=False)

In [24]:
# Importar módulo y crear conexión
from sqlalchemy import create_engine

conexion = create_engine (
    "postgresql+psycopg2://postgres:Adelayda1972@localhost:5432/Ventas-Supermercado"
)

In [25]:
# Convertir DataSet a tabla en PostgreSQL
DataSet3.to_sql(
    "TasaDePerdida",
    con=conexion,
    schema="DataSupermercado",
    if_exists="replace",
    index=False
)

982