# **Análisis Exploratorio De Datos**

In [3]:
import pandas as pd

# Importación De Datos

In [ ]:
# DataSet Número 1
ruta = r"C:\TuRuta\Ventas Supermercados\Data\annex1.csv"
DataSet1 = pd.read_csv(ruta)
DataSet1

,Item Code,Item Name,Category Code,Category Name
0,102900005115168,Niushou Shengcai,1011010101,Flower/Leaf Vegetables
1,102900005115199,Sichuan Red Cedar,1011010101,Flower/Leaf Vegetables
2,102900005115625,Local Xiaomao Cabbage,1011010101,Flower/Leaf Vegetables
3,102900005115748,White Caitai,1011010101,Flower/Leaf Vegetables
4,102900005115762,Amaranth,1011010101,Flower/Leaf Vegetables
...,...,...,...,...
246,106958851400125,Haixian Mushroom (Bag) (4),1011010801,Edible Mushroom
247,106971533450003,Haixian Mushroom (Bunch),1011010801,Edible Mushroom
248,106971533455008,Haixian Mushroom (Bag) (3),1011010801,Edible Mushroom
249,106973223300667,Chinese Caterpillar Fungus Flowers (Box) (2),1011010801,Edible Mushroom
250,106973990980123,Hfyg Haixian Mushroom (Bunch),1011010801,Edible Mushroom

In [5]:
DataSet1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Item Code      251 non-null    int64
 1   Item Name      251 non-null    object
 2   Category Code  251 non-null    int64
 3   Category Name  251 non-null    object
dtypes: int64(2), object(2)
memory usage: 8.0+ KB

In [7]:
DataSet1.isnull().sum()
    # El DataSet no presenta nulos, así que no se realizará
    # ningún tipo de transformación edución de datos.
    # Se exportará tal y como está a una tabla en PostgreSQL.

Item Code        0
Item Name        0
Category Code    0
Category Name    0
dtype: int64

In [9]:
AgruparCategorias = DataSet1.groupby("Category Name").count()
AgruparCategorias

                             Item Code  Item Name  Category Code
Category Name
Aquatic Tuberous Vegetables         19         19             19
Cabbage                              5          5              5
Capsicum                            45         45             45
Edible Mushroom                     72         72             72
Flower/Leaf Vegetables             100        100            100
Solanum                             10         10             10

In [10]:
# Exportar DataSet
DataSet1.to_csv("../Data_Limpia/Productos.csv", index=False)

In [ ]:
# Importación de módulo y crear conexión
from sqlalchemy import create_engine

conexion = create_engine(
    "postgresql+psycopg2://ususario:Password@localhost:5432/Nombre de Base de Datos"
)

In [13]:
# Enviar DataSet a PostgreSQL
DataSet1.to_sql(
    "Productos",
    con=conexion,
    schema="DataSupermercado",
    if_exists="replace",
    index=False
)

251